<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="/img/icon.jpeg"/>
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
     <div class="about">
         <img class="portrait" src="\img\IMG_20220601_230921.jpg">
        <h2>{{name}}</h2>
        <h3>{{Designation}}</h3>
        <h3>Skilled in-</h3>
        <h4>Java, C, Python, Node js, Agile development, HTML, CSS</h4> 
           <p>"I am a programmer and self-groomed coder who plays with error and bugs,</p> 
           <p>quite efficient in backend and trying to survive in the world of frontend."</p>
        </div>
    
    {{>footer}}
</body>
</html>